.hb-header {
    position:center;
    background-color:blue;

    .header-wrapper{
        margin: 0 auto;
        max-width: 1024px;
        background-color: blue;
    }

}
.fondo{
    background-color: lightblue;
  }
  @media (min-width: 480px) and #{$retina} {
    body {
      background-color: red;
    }
  }